.loader {
display:none;
 margin:240px auto;
 border-radius: 50%;
 border-top: 16px solid blue;
 border-right: 16px solid green;
 border-bottom: 16px solid red;
 border-left: 16px solid pink;
 width: 250px;
 height: 250px;
 -webkit-animation: spin 2s linear infinite; /* Safari */
 animation: spin 2s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.t_label{
    display:none;
    text-align:center;
}